*{padding: 0; margin: 0;}


@font-face {
    font-family: Montserrat;
    src: url(./img/Montserrat-Regular.ttf);
}


body {
    font-family: Montserrat;
}


#root {
   background-image: linear-gradient(#ff00c8, #dd63d7 30.25%, #beaec4 46.22%, #ffffff, #ffffff);
    height: 1000px;
    background-size: cover;
}


.heder { 
    width: 100%; 
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.logo {
    top: 38px;
    left: 298.8px;
    position: absolute;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}


.input {
    top: 29px;
    left: 581.8px;
    position: absolute;
    outline: 0;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    background: rgba(255,255,255,.2);
    padding: 16px 90px 16px 90px;
    border-radius: 56px;
}
     

#class {
    position: absolute;
    left: 607px;
    top: 50px;
    transform: scale(1.3);
    opacity: 0.8;
    color: #fff;
}


#basket {
    font-weight: 400;
    color: #fff;
    position: fixed;
    top: 51px;
    left: 1074px;
    transform: scale(1.6);
}


.wrap {
    display: flex;
    position: relative;
    top: 728px;
}


.card {
    width: 199px;
    height: 310px;
    border: 1px solid #fffdfd;
    border-radius: 6px;
    margin: auto;
    margin-bottom: 50px;
}


.picture-1 {
    width: 100%;
    height: 190px;
    border-radius: 5px;
    background-image: url(./img/photo_2022-12-25_22-27-52.jpg);
    background-size: cover;
}
.picture-2 {
    width: 100%;
    height: 190px;
    border-radius: 5px;
    background-image: url(./img/photo_2022-12-25_22-28-01.jpg);
    background-size: cover;
}
.picture-3 {
    width: 100%;
    height: 190px;
    border-radius: 5px;
    background-image: url(./img/photo_2022-12-25_22-28-03.jpg);
    background-size: cover;
}
.picture-4 {
    width: 100%;
    height: 190px;
    border-radius: 5px;
    background-image: url(./img/photo_2022-12-25_22-28-06.jpg);
    background-size: cover;
}
.picture-5 {
    width: 100%;
    height: 190px;
    border-radius: 5px;
    background-image: url(./img/photo_2022-12-25_22-27-58.jpg);
    background-size: cover;
}

.wraperPrs {
    display: flex;
    position: relative;
    top: 20px;
}

.price {
    display: flex;
    position: relative;
    color: #000000;
    font-weight: 900;
    font-size: 20px;
    margin-right: 24px;
}


.discount {
    text-decoration:line-through ;
    display: flex;
    position: relative;
    color: #000000;
    font-weight: 900;
    font-size: 14px;
    color: #8a8a8a;
} 


.namePrduct {
    position: relative;
    top: 25px;
    font-size: 14px;
    color: #8a8a8a;
}


.plusAndMinus {
    display: flex;
}


.plus {
    position: relative;
    font-size: 15px;
    border: 1px solid rgb(27, 90, 0);
    border-radius: 6px;
    top: 45px;
    margin-right: 30px;
    background-color: rgb(14, 187, 0);
    color: #fff;
    width: 37px;
    height: 26px;
    cursor: pointer;
}

.minus {
    position: relative;
    font-size: 15px;
    border: 1px solid rgb(27, 90, 0);
    border-radius: 6px;
    top: 45px;
    margin-right: 30px;
    background-color: rgb(14, 187, 0);
    color: #fff;
    width: 37px;
    height: 26px;
    cursor: pointer;
}

.plus:active {
    background-color: #1a5f0a;
    transition: all 0.1s;
}

.minus:active {
    background-color: #1a5f0a;
    transition: all 0.1s;
}

.basket {
    width: 300px;
    height: 350px;
    background: rgba(255, 255, 255, 0.76);
    margin: -460px 1116px;
    position: fixed;
    border-radius: 6px;
    border: 1px solid #c2c2c2;
    padding: 25px;
    box-sizing: border-box;
}


.newDelitBtn {
    z-index: 9;
    position: fixed;
    top: 49px;
    left: 1142px;
    transform: scale(1.6);
    background-image: url(./img/close_FILL0_wght400_GRAD200_opsz48.png);
    width: 20px;
    height: 20px;
    background-size: cover;
}


.wraperPrice {
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 188px;
}

.totalPrice {
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
    color: #242424;
}


.totalPriceGoods {
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
    color: #242424;
}

.wraperDiscount {
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 70px;
}

.discountPrice {
    font-size: 16px;
    color: #242424;
}

.discountPriceGoods {
    font-size: 16px;
    color: #242424;
}

.toOrderBtn {
    position: relative;
    top: 190px;
    padding: 10px 92px;
    background: rgba(208, 27, 201, 0.27);
    border: 0;
    font-size: 15px;
    border-radius: 4px;
}

.toOrderBtn:active {
    background-color: #ff00bf;
    color: #fff;
}

.nameGgoods {
    position: relative;
    top: 65px;
}

.emptyPlace {
    margin: 99px;
    font-size: 17px;
}



.slider {
    width: 1100px;
    height: 300px;
    overflow: hidden;
    background-size: cover;
}

.middle {
    position: absolute;
    top: 326px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 34px;
} 

.navNavigator {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 30px;
    height: 8px;
    margin: 6px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.61);
    opacity: .5;
    border-radius: 10px;
    transition: all .4 ease;
}

.bor:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all .6s ease;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -25%;
}
#r3:checked ~ .s1 {
    margin-left: -50%;
}
#r4:checked ~ .s1 {
    margin-left: -75%;
}